.About {
  display: flex;
  flex-direction: column;
  gap: 8vw;
  padding-bottom: 5vw;

  .founder-cards {
    display: flex;
    gap: 2vw;
  }
}

@media (max-width: 768px) {
  .founder-cards {
    flex-direction: column;
    gap: 4.7vh !important;
  }
}

@media (min-width: 1921px) {
  .About {
    width: 1720px;
  }

  .founder-cards {
    gap: 52px !important;
    justify-content: center;
  }
}