@import 'src/assets/variables';

.article-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min-content;
  padding-bottom: 80px;
}

.top-infos {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    color: $white;
    font-weight: 600;
    font-size: 4vw;
    line-height: 5vw;
  }

  .date {
    color: rgba($white, 0.8);
  }
}

.content {
  width: 60vw;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px 20px 0 0;
    position: relative;

    .image {
      max-width: 100%;
      position: relative;
      aspect-ratio: 16 / 9;
      border-radius: 30px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    p {
      margin-left: 20px;
      color:rgba($white, 0.5);
      position: absolute;
      bottom: 0;
      padding: 20px 10px;
    }
  }

  

  h1 {
    font-size: 2.5vw;
    margin-top: 20px;
  }

  h2 {
    font-size: 1.8vw;
    line-height: 220%;
    margin-top: 30px;
  }

  h3 {
    font-size: 1.25vw;
    margin-top: 20px;
  }

  p {
    font-weight: 200;
    line-height: 150%;
    font-size: 1vw;
  }

  hr {
    width: 50vw;
    margin: 40px auto;
  }

  a {
    color: $green;
  }

  mark {
    color: $white;
    background: rgba($green, 0.5);
  }
}

@media (max-width: 768px) {
  .top-infos .title {
    font-size: 7vh;
    line-height: 14vw;
  }

  .content {
    h1 {
      font-size: 5vh;
    }

    h2 {
      font-size: 3.5vh;
    }

    h3 {
      font-size: 2.5vh;
    }
  }
}

