@import 'src/assets/variables';

.News {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  width: min-content;
  padding-bottom: 8vw;
}


.last-article {
  display: flex;
  gap: 3.75vw;
  height: 26vw;
  width: 80vw;

  .image {
    flex: 1;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25vw;

    span {
      font-weight: 300;
      font-size: 1.125vw;
      color: $white;
    }

    h1 {
      font-weight: 600;
      font-size: 4vw;
      line-height: 5vw;
      color: $white;
      position: relative;
      width: fit-content;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-weight: 600;
      font-size: 1.125vw;
      line-height: 1.4;
      color: $white;
      width: 21.5vw;
    }
  }

  h1:hover {
    &:before {
      width: 100%;
    }
  }
}

.articles {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  gap: 5vw;
}

@media (max-width: 768px) {
  .last-article {
    position: relative;
    height: 50vh;
    display: grid;
    place-items: flex-end flex-start;
    overflow: hidden;
    border-radius: 20px;


    .texts {
      display: flex;
      flex-direction: column;
      gap: 1.25vw;
      padding: 20px;
      z-index: 3;

      span {
        font-weight: 300;
        font-size: 2.2vh;
        line-height: 2.8vh;
        color: $white;
      }

      h1 {
        font-weight: 700;
        font-size: 2.9vh;
        line-height: 3.7vh;
        color: $white;
        position: relative;
        width: fit-content;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        font-weight: 300;
        font-size: 2.2vh;
        line-height: 2.8vh;
        color: $white;
        width: 100%;
      }
    }

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &:before{
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(transparent, rgba(black, 0.8));
    }
  }

  .articles {
    flex-direction: column;
  }
}

@media (min-width: 1921px) {
  .News {
    align-items: center;
    width: min-content;
    position: relative;
    gap: 2vw;
  }

  .last-article {
    width: fit-content;
    height: 421px;

    .texts {
      flex: none;
      width: 345px;

      span {
        font-size: 18px;
        line-height: 23px;
      }

      h1 {
        font-size: 64px;
        line-height: 80px;
      }

      p {
        font-size: 18px;
        line-height: 23px;
        font-weight: normal;
        width: 100%;
      }
    }

    .image {
      flex: none;
      width: 711px !important;
      height: 421px;
    }
  }

  .articles {
    width: fit-content;
    gap: 56px;
  }
}

