.About {
  display: flex;
  flex-direction: column;
  gap: 8vw;

  .founder-cards {
    display: flex;
    gap: 2vw;
  }

  .history {
    display: flex;
    flex-direction: column;
    gap: 8vw;
  }

  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4.875vw;

    .line {
      position: absolute;
      height: calc(100% - 15.5vw);
      width: 0.25vw;
      background: white;
      left: 13.2%;
      top: 1.25vw;
    }

    .founder-cards {
      display: flex;
      gap: 2vw;
    }
  }
}

@media (max-width: 768px) {

  .founder-cards {
    flex-direction: column;
    gap: 4.7vh !important;
  }

  .line {
    left: 9.5vh !important;
    width: 0.4vh !important;
    height: calc(100% - 22.5%) !important;
  }

}
